html {
	font-size: 62.5%;
	font-family: "Oswald", sans-serif;
}

/* My CSS */

body {
	background: rgb(36, 33, 33);
}
#navbar {
	
	display: flex;
	padding: 2rem;
	
}

#btn, #inputSearch {
	border-radius: 0.5rem;
	font-size: 1.6rem;
	padding: 1rem;
}

img {
	margin-left: 15rem;
	height: 60rem;
	width: auto;
	
}

h1 {
	color: rgb(245, 28, 28);
	font-size: 7rem;
	margin-left: 10rem;
}
